.panel-body p {
    line-height:1.2;
}
.espaco-entrelinhas-xs{
    line-height:0.7;
}
.div-load-hidden{
    display: none;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 1;

}
.div-load-show{
    position:absolute;
    top: 0px;
    left: 0px;
    bottom:0px;
    width: 100%;
    padding-top: 20%;
    height: 120%;
    z-index: 9999997;
    /* transpar?ncia compat?vel com os navegadores comuns.*/
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
    background: black;
    text-align: center;
    /*display: none;*/
}